.vlt-custom--8131 {
	bottom: -250px;
	left: -200px;
	max-width: 550px;
}

.vlt-custom--1451 {
	top: -25px;
	left: -30px;
	width: 256px;
	height: 208px;
}

@media only screen and (max-width: 575px) {
	.vlt-custom--1451 {
		top: -100px;
		left: -100px;
	}
}

.vlt-custom--1512 {
	bottom: -15vw;
	left: 63vw;
	width: 40vw;
	height: 45vw;
	background-size: cover;
}

.vlt-custom--4124 {
	top: 0;
	right: 0;
	bottom: 0;
	width: 40vw;
	height: 100%;
	background-position: top left;
	background-size: cover;
}

@media only screen and (max-width: 991px) {
	.vlt-custom--4124 {
		right: 0;
		width: 50vw;
	}
}

@media only screen and (max-width: 767px) {
	.vlt-custom--4124 {
		right: -50vw;
		width: 100vw;
	}
}

.vlt-custom--1259 {
	top: -20px;
	right: -5px;
	width: 256px;
	height: 208px;
}

.vlt-custom--2355 {
	bottom: -250px;
	left: 0;
	width: 389px;
	height: 550px;
}

.has-yellow-color {
	color: #FFD700;
}

.has-coral-color {
	color: #FF6F61;
}

.has-navy-color {
	color: #1B263B;
}

.vlt-fullpage-slider-numbers
{
    font-size: 1.25rem;
    font-weight: 700;

    position: fixed;
    z-index: 25; 
    right: 0;
    bottom: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 6.25rem;
    height: 6.25rem;

    letter-spacing: -.01em;

    color: #fff;
    border-top-left-radius: 8px;
    background-color: #1B263B;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.is-light .vlt-fullpage-slider-progress-bar li
{
    background-color: rgba(255, 255, 255, .1);
}
.vlt-fullpage-slider-progress-bar li::before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 2px;
    height: 20px;

    content: '';
    -webkit-transition: height 0s, background-color 300ms cubic-bezier(.46, .03, .52, .96);
            transition: height 0s, background-color 300ms cubic-bezier(.46, .03, .52, .96); 

    background-color: #1B263B;
}

/* FOOTER COPYRIGHT
-------------------------------------------- */
.vlt-footer-copyright
{
    pointer-events: auto; 

    color: #1B263B;
}
.is-light .vlt-footer-copyright
{
    color: #fff;
}
.vlt-footer-copyright p
{
    margin-bottom: 0;
}